.card-fix{
    text-decoration: none;
    text-align: center;
	background: #F0FFF0;
	padding: 30px;
	border-radius: 15px;
	transition-duration: 0.3s;
    color: #333;
}
.card-fix:hover{
    text-decoration: none;
    box-shadow: 0px 9px 20px 0px #00000040;
    transform: scale(1.1);
    background: rgb(241, 241, 188)
}