.text-color{
    color: #353740;
}
.background-yellow{
    background-color: #FCD21D;
}
.banner-fix{
    padding: 0;
    overflow: hidden;
}
.banner-fix .banner-img{
    transition: all 1s linear;
}
.banner-fix:hover .banner-img{
    transform: scale(1.1);
}